.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .title1 {
    width: 90%;
    background-color: #e0e0e0;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .button-group {
    display: flex;
    gap: 10px;
    margin-top: 80px;
  }
  
  .make-button {
    background-color: #6c63ff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .make-button:hover {
    background-color: #5849e6;
  }
  
  .list-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .list-button:hover {
    background-color: #45a049;
  }
  
  .calendar{
    max-height: 70%;
  }